html,body{
	margin:0px;
	font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, "微软雅黑", "メイリオ", "맑은 고딕", sans-serif !important;
}

.menu{
	padding-top:10px;
	background-color: rgba(255,255,255,0.7) !important;
	z-index: 99;
}

